[core]
	excludesfile = ~/.gitignore_global
[user]
	name = Tim Klein
	email = timklein@users.noreply.github.com
[filter "lfs"]
    required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process